.product-manager {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #616066;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.product-manager .product-manager_message {
  color: #ffffff;
  font-weight: 700;
}